
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

:root body.dark-theme {
	--color-nav: #191e2b;
	--color-background: #30343f;
	--color-aside: #252935;
	--color-text: #ffffff;
    --color-reset:#393e49;

}

:root body.light-mode {
	--color-nav: #e0e0e0;
	--color-background: #eeeeee;
	--color-aside: #fafafa;
	--color-text: #424242;
    --color-reset:#e0e0e0;
}



body.dark-theme {
    background-color: var(--color-background);
}

.hidden{
    display: none;
}
.class-nav{
    display: flex;
    flex-direction: column;
    background-color:var(--color-nav);
    color: var(--color-text);
    height: 9.9em;
}

.button-img, .button-text, .dark-mode{
    display: inline-block;
    flex-direction: row;
    width: 100px;
    height: 30px;
    position: relative;
    left: 39%;
    color: white;
    border: none;
    margin: 5px;
    background-color:var(--color-nav);
    color: var(--color-text);
}


#button-img:hover{
    background-color:#30343f;
    transition:.3s;
    cursor: pointer;
}
#button-text:hover{
    background-color:#30343f;
    transition:.3s;
    cursor: pointer;
}
#theme-toggle:hover{
    background-color:#30343f;
    transition:.3s;
    cursor: pointer;
}


.title-1{
    justify-content: center;
    align-items: center;
    text-align: center;
    color:var(--color-text);
    padding: 0px;
    font-size: 35px;
    margin: 35px;
}



/* estilos para las cajas */
.container{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2px;
}


.box-black {
    width: 40%;
    height: 30rem;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.box-top{
    height: 100%;
    width: 40%;
    border: 2px solid white;
    padding: 10px;
    background-color: white;
    border: none;
}

.text-top{
padding: 15px;
font-size: 36px;
font-weight: 600;
color: black;
}

.box-bottom{
    height: 100%;
    width: 40%;
    border:  solid white;
    padding: 10px;
    background-color: white;
    border: none;

}

.text-bottom{
    padding: 15px;
    font-size: 36px;
    font-weight: 600;
    color: black;
}

    #resetFilters {
    width: 200px;
    height: 50px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--color-reset);
}

.download-meme{
    display: flex;
    background-color: #2e7d32;
    width: 200px;
    height: 40px;
    margin: 20px;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.button-meme, .fa-download{
    display: inline-block;
    color: white;
    border: none;
}

/* este es el css del aside img  */

.container-aside{
display: flex;
flex-direction: column;
}

.asidebar{
width: 20%;
background-color:var(--color-aside);
color:var(--color-text);
position: relative;
left: 80%;
text-align: center;
padding: 20px;
}

input[type="text"]{
width: 90%;
height: 4%;
margin: 10px;
background-color:var(--color-reset);
border: none;
}


input[type="range"] {
width: 80%;
border: none;
}

#resetFilters{
    background-color:var(--color-reset);
width: 150px;
border: none;
}

#colorPicker, #effect{
width: 90%;
height: 4%;
background-color:var(--color-reset);
}

/* este es el css del aside texto que esta oculto */
.aside-texto {
display:block;
width: 20%;
background-color:var(--color-aside);
color:var(--color-text);
position: relative;
left: 80%;
padding: 20px;
}


.visibility--hidden{
    display: none;
}

.title-text{
text-align: center;
margin: 0;
}

.textTop, .textBottom{
    margin: 0;
    font-size:15px;
}

.font-text{
    margin: 0;
}

#texto-top, #texto-bottom{
    width: 80%;
    height:4%;
}

label {
display: block;
margin: 5px;
font-weight: bold;
border: none;
}

.alignment-container{
    display: flex;
    flex-direction: row;
    margin: 0px;
}


#no-text{
    display: inline-block;
    font-size:  12px;
}

#background-checkbox{
    display: inline-block;
    font-size:  12px;
}

#font, #number{
    display: inline-block;
    width: 30%;
    height: 5%;
    justify-content: space-between;
    background-color: #393e49;
    color: white;
    border: none;
    text-align: center;
    margin: 5px;
}

.colors{
    display: flex;
    margin: 10px;
}

#background-checkbox1{
    display: inline-block;
    font-size:  12px;
}

#background-checkbox1{
    display: flex;
}

.outline-title{
    font-size: 15px;
    margin: 5px;
}

.buttonNone, .buttonDark, .buttonBright{
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding: 10px;
    border: none;
    background-color: #393e49;
    cursor: pointer;
    color: white;
    text-align: center;
    align-items: center;
}

.padding-title, .lh-title{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    margin: 5px;
}

.paddingInput {
    width: 30%;
    height: 5%;
    background-color: #393e49;
    border: none;
    color: white;
    text-align: center;
    padding: 5px;
}

#line-height-input{
    width: 30%;
    height: 5%;
    background-color: #393e49;
    border: none;
    color: white;
    text-align: center;
}

#aliLeft, #aliCenter, #aliRight{
    display: none;
}

.fa-align-center, .fa-align-left, .fa-align-right{
    margin: 10px;
    width: 40%;
    height: 5%;
}

@media(max-width:799px) {
.aside-texto, .asidebar{
    display: none;
}
.button-img, .button-text, .dark-mode{
    display: none;
}

@media (max-width:466px) {
    .class-nav{
        width: 110%;
    }
    .text-bottom, .text-top{
        display: flex;
        font-size:22px;
    }
    .text-bottom{
        align-items: center;
    }

}
}
