*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style-type: none;
        font-family: 'Roboto', sans-serif;
    }

    body{
        background-color: #30343f;
    }

    .class-nav{
        display: flex;
        flex-direction: column;
        background-color:#191e2b;
        height: 8.8rem;
        width: 100%;
    }

    .nav-items{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 20px;
        font-size: 15px;
    }

    .list-nav{
        /* display: inline-block; */
        margin: 10px;
        color: #ffffff;
    }

    .a-nav{
        color: #ffffff;
    }

    .list-nav:hover{
        background-color:#30343f;
        transition:.3s;
    }

    .title-1{
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff;
        padding: 10px;
        font-size: 35px;
    }

    /* estilos para las cajas */
    .container{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }


    .box-black {
        width: 40%;
        height: 30rem;
        background-color: black;
        background-color: black;
    }

    .box-top{
        height: 100%;
        width: 40%;
        border: 2px solid white;
        background-color: white;
    }

    .text-top{
    padding: 15px;
    font-size: 30px;
    font-family: 'Anek Gurmukhi', sans-serif;
    }

    .box-bottom{
        height: 100%;
        width: 40%;
        border: 2px solid white;
        padding: 10px;
        background-color: white;
    }

    .text-bottom{
    padding: 15px;
    font-size: 30px;
    font-family: 'Anek Gurmukhi', sans-serif;
    }

        button {
        width: 200px;
        height: 50px;
        background-color: #2e7d32;
        color: white;
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }

    .button-meme, .fa-download{
        color: white;
        border: none;
    }

    /* este es el css del aside img  */
.container-aside{
    display: flex;
}

.sidebar {
    width: 300px;
    height: 100%;
    background-color:#252935;
    padding: 10px;
    color: white;
    position: relative;
    left: 80%;
    text-align: center;
}

h3{
    margin: 10px;
}

input[type="text"]{
    width: 90%;
    height: 4%;
    margin: 10px;
    background-color: #393e49;
    border: none;
}


input[type="range"] {
    width: 80%;
    border: none;
}

#resetFilters{
    background-color: #393e49;
    width: 150px;
    border: none;
}

#colorPicker, #effect{
    width: 90%;
    height: 4%;
    background-color:#393e49;

}

/* este es el css del aside texto que esta oculto */
.aside-texto {
    width: 300px;
    background-color:#252935;
    padding: 10px;
    color: white;
    position: relative;
    left: 80%;
    display: none;
}

.title-text{
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    border: none;
}

#spacing,#line-Spacing{
    background-color:#393e49;
    border: none;
}